# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.next
out

# Testing
coverage
.playwright

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.md
*.log
.eslintcache
